@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap");
/* font-family: 'League Spartan', sans-serif; */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	background-repeat: no-repeat;
	background-position: bottom right;
	background-image: url(images/bg-pattern-bottom-desktop.svg);
}

body {
	font-size: 62.5%;
	height: 100vh;
	background-image: url(images/bg-pattern-top-desktop.svg);
	background-repeat: no-repeat;
	font-family: "League Spartan", sans-serif;
	/* display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column; */
}
